h1 {
    font-size: 50px;
    font-family:'Oxygen', sans-serif;
    padding: 0.5% 36%;
    margin: 15px 0px ;
    font-weight: bolder;
    text-decoration:solid ;
    color:black;
    background-color:skyblue ;
}

h2 {
    font-size: 35px;
    font-family:'Oxygen', sans-serif;
    padding:1px ;
    margin:5px 0px;
    font-weight:normal;
    color: black;
    background-color:aquamarine ;
}

p {
    font-family:'Roboto Mono', monospace;
    font: size 50px;;
    padding:2px ;
    margin:0.5px ;
    color: black;
    background-color:antiquewhite ;
}

.logo {
    background-size: 300px;
    background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png); height: 200px; width: 200px;
    background-color:aliceblue ;
    height: 300px;
    width: 300px;
}
